.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
Results/XPCLR_Scenario1_Adaptation_InterPro_Chunks
Results/XPCLR_Scenario2_Breeding_InterPro_Chunks
Results/DeltaHe_Introgression_InterPro_Chunks
Results/DeltaHe_Erosion_InterPro_Chunks
Results/output_temporal_trajectories/